:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #64ca6e;

}

#content-input{
  width: 600px;
}

@media only screen and (max-width: 600px) {
  #content-input{
    width: 300px;
  }
}

#header-search {
  display: grid;
  place-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#content {
  background-color: #242424;
}

#content-card {
  width: 300px;
  flex: 0 0 auto;
  margin: 15px;
}

.status {
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  width: 70px;
  text-align: center;
  padding: 2px;
  margin-bottom: 8px;
}

.status.alive{
  background-color: var(--main-color);
  color: black;
}

.status.dead{
  background-color: rgb(182, 61, 61);
  color: white;
}

.status.unknown{
  background-color: transparent;
  border: 1px #242424 solid;
}

#content-card > .card {
  min-height: 400px;
}

#container-cards {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: start;
}

.pagination-link.is-current {
  background-color: var(--main-color);
  font-weight: 700  ;
  border-color: white;
  color: #242424;
}

.pagination-link.is-current:hover {
  color: #242424;
}

.pagination-link{
  color: white;
}

.pagination-link, .pagination-next, .pagination-previous {
  color: white;
}

.pagination-link:hover, .pagination-next:hover, .pagination-previous:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.pagination{
  padding-top: 5px;
  margin: 15px;
}